body {
  background-image: url("3rdfloor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 10%;
}

#heading {
  font-family: "Brandon Grotesque", Black; 
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

h2 {
  color: #1EA8B4;
  top: 20%;
  bottom: 80%;
}

.pure-button {
  background-color: white;
  font-family: "Open Sans";
  font-size: 35px;
  text-align: center;
  color: #F16839; 
  position: absolute;
  top: 45%;
  left: 42.5%;
  right: 20%;
  border-radius: 100px;
  padding: 5px;
  width: 250px;
}




